<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corretto-Premium Coffee Shop</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-inner">
                <div class="logo">
                    <a href="index.html">
                        <img src="/template-folder/assets/image.png" alt="Corretto-Premium Image>
                    </a>
                </div>
                <nav class="main-nav">
                    <ul>
                        <li><a href="#home" class="active" Home></a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#menu">Menu</a></li>
                        <li><a href="#reservation">Reservation</a></li>
                        <li><a href="#blog">Blog</a></li>
                        <li><a href="#shop">Shop</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
                <div class="header-icons">
                    <a href="#" class="search-icon"><i class="search"></i></a>
                    <a href="#" class="cart-icon"><i class="shopping-cart"></i></a>
                    <div class="humburger-menu"></div>
                </div>
            </div>
        </div>
    </header>
</body>
</html>